.weather {
  border-radius: 0.625rem;
  padding: 2.5rem;
  background: var(--bg-main);

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__title {
    color: var(--text-main);
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
  }

  &__grid-item {
    background-color: var(--bg-second);
    border: 1px solid var(--bg-main);
    border-radius: 0.625rem;
    padding: 1rem;
  }
}
