.create-user-modal {
  &__modal {
    max-width: 28.1875rem;
    padding: 2.5rem 6.25rem;
    border: 1px solid #c5c5c5;
    border-radius: 0.625rem;
    background: var(--bg-second);
  }

  &__modal-title {
    margin-bottom: 1.25rem;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    color: var(--text-main);
  }

  &__content {
    margin-top: 1.25rem;
  }

  &__item {
    display: inline-block;
    width: 100%;
    margin-bottom: 1.25rem;
  }

  &__item-field {
    height: 3rem;
  }

  &__modal-buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    height: 2.5rem;
  }
}
