.header {
  padding: 0.8rem 3rem;
  display: flex;
  align-items: center;
  background: var(--bg-main);
  color: var(--text-main);
  font-weight: 700;

  &__logo-link {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }

  &__info {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  &__item {
    padding: 0 1.5625rem 0 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__item-icon {
    display: flex;
    align-self: center;
    margin-right: 1rem;
  }

  &__item-label {
    color: var(--text-grey);
    font-size: 0.75rem;
  }

  &__item-value {
    font-size: 1rem;
    color: var(--text-accent);
  }

  &__item-login {
    font-size: 0.875rem;
    color: var(--text-main);
  }

  &__item-button {
    display: block;
    margin-left: 1.5rem;
  }

  &__logout {
    cursor: pointer;
    display: flex;
    margin-left: 1.5rem;
  }
}
