.sign-in {
  margin: auto;
  width: 22.125rem;
  box-sizing: content-box;
  padding: 4rem 5rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.625rem;
  background: var(--bg-main);
  color: var(--text-main);

  &__title {
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  &__subtitle {
    margin-bottom: 1.25rem;
    font-weight: 700;
    font-size: 1.25rem;
  }

  &__content {
    margin-top: 1.25rem;
  }

  &__item {
    display: inline-block;
    width: 100%;
    margin-bottom: 1.25rem;
  }

  &__item-field {
    height: 3rem;
  }

  &__button {
    margin-top: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
