.forbidden-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;

  h1 {
    font-size: 3rem;
    color: #ff4d4f;
  }

  p {
    font-size: 1.5rem;
    color: var(--text-main);
  }

  &__link {
    background-color: var(--bg-third);
    padding: 0.5rem 1rem;
    border-radius: 0.625rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    transition: all 0.3s ease;

    &:hover {
      background-color: #c2d5f0;
    }
  }
}
