@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap');

#root,
html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  background: var(--bg-second);
  overflow: auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

html {
  font-size: 16px;

  --text-main: #000000;
  --text-grey: #8c9eb7;
  --text-accent: #0094ff;

  --bg-main: #ffffff;
  --bg-second: #edf0f4;
  --bg-third: #cfdae9;
}
